<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="text-center">
        <h1>Products Page</h1>
        <p class="lead">
            Welcome to the Music Store!
            Have a look at some of our great hits.
        </p>
        <p>

        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; Music Store</div>
</div>
</body>
</html>